@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import 'tailwindcss';

@theme {
  --color-intro: hsla(12, 100%, 95%, 1);
  --shadow-neu:0 .25rem 0 0 #000;
  --shadow-neu-retract: 0 0 0 0 #000;
  --shadow-neu-oblique: .5rem .5rem 0 0 #000; 
  --color-intro-button: hsla(73, 100%, 58%, 1);
  --color-second-panel: #46FF74;
  --color-third-panel: #6AA6FF;
  --color-fourth-panel: #FFD69D;
}

@layer base {
  * {
    font-family: "DM Sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }
  html, body {
    @apply bg-[#EBFFE5];
  }
}